/* General Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header Styling */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    width: 200px; /* Match width with login form */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Label Styling */
label {
    display: block;
    margin-bottom: 5px;
}

/* Input Fields Styling */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 8px; /* Slightly reduced padding */
    margin-bottom: 5px; /* Reduced margin to bring inputs closer */
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit Button Styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4A8522;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #356018;
}

/* Error and Success Message Styling */
.message {
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
    display: none; /* Initially hidden */
}

.message.error {
    color: #d9534f;
    background-color: #f2dede;
}

.message.success {
    color: #5bc0de;
    background-color: #d9edf7;
}

/* Popup Styling */
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    display: block;
    opacity: 1;
}

.popup h2 {
    margin-top: 0;
}

.popup button {
    margin-top: 10px;
    width: 48%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:first-of-type {
    background-color: #4A8522;
    color: white;
}

.popup button:first-of-type:hover {
    background-color: #356018;
}

.popup button:last-of-type {
    background-color: #d9534f;
    color: white;
}

.popup button:last-of-type:hover {
    background-color: #c9302c;
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }
}
