<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <!-- Display error message if it exists -->
        <% if (errorMessage) { %>
            <div class="error-message"><%= errorMessage %></div>
        <% } %>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>

    <!-- Image Link to Home Page -->
    <a href="/">
        <img src="ArrowLeft.png" alt="Home" class="home-button-image">
    </a>
    
    <!-- Link to the registration page -->
    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>
